body{
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title{
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

#middle{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#score{
  margin-right: auto;
  margin-left: auto;
  max-width: 15%;
}

#score p{
  font-size: 30px;
}

#plate{
  margin-right: auto;
  width: 55%;
}

#playerTurn{
  padding-top: 50px;
}

button{
  width: 100px;
  height: 40px;
}
