body{
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title{
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

#middle{
  width: 100%;
  display: flex;
  justify-content: center;
}

#plate{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#playerTurn{
  padding-top: 50px;
}
